{% load static wagtailcore_tags %}
{% for element in cookie_elements|slice:":1" %}
<div class="l-cookies js-cookie">
    <div class="l-inner">
        <div class="c-cookies">
            <p class="c-cookies__text">{{ element.text|safe }}</p>
            <div class="c-cookies__actions">
                <a href="#" class="c-underline-link js-cookie-accept">
                    {{ element.opt_in }}
                    <span class="c-underline-link__icon o-icon-wrapper">
                        <svg class="o-icon o-icon--arrow-right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-arrow-right' %}"></use>
                        </svg>
                    </span>
                </a>
                <a href="#" class="c-underline-link js-cookie-decline">
                    {{ element.opt_out }}
                    <span class="c-underline-link__icon o-icon-wrapper">
                        <svg class="o-icon o-icon--arrow-right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                 xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-arrow-right' %}"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
