/* ==========================================================================
   Form info
   ========================================================================== */

.section-markup-wrapper .c-form-info--success {
    display: flex;
}

.c-form-info {
    display: none;
    flex-direction: column;
    align-items: center;
}

.c-form-info.is-visible {
    display: flex;
}

.c-form-info__icon {
    margin-bottom: $size-gutter * 3;
}

.c-form-info__heading {
    margin-bottom: $size-gutter * 1.5;
}

.c-form-info__desc {
    margin-bottom: $size-gutter * 2.5;

    text-align: center;
}

@include media(tablet) {
    .c-form-info__desc {
        margin-bottom: $size-gutter * 5.7;
    }
}
