/* ==========================================================================
   Video Module
   ========================================================================== */

// Video Module
//
// markup:
// <div class="c-video-module js-video">
//     <div class="c-video-module__media">
//         <div class="c-video" style="background-image: url(./static/img/img-video-bg.jpg)">
//             <video class="c-video__player js-viewer js-video-module" preload="auto">
//                 <source src="./static/img/example-video.mp4" type="video/mp4">
//             </video>
//             <div class="c-video__close js-video-close">
//                 <span class="o-icon-wrapper">
//                     <svg class="o-icon o-icon--cross-large">
//                         <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="./static/svg/symbol/svg/sprite.symbol.svg#icon-cross"></use>
//                     </svg>
//                 </span>
//             </div>
//             <div class="c-video__controls">
//                 <div class="c-controls">
//                     <button class="c-controls__button js-toggle-button" title="Toggle Play">►</button>
//                     <div class="c-controls__progress">
//                          <div class="c-progress">
//                              <div class="c-progress__filled"></div>
//                              <div class="c-progress__info t-caption"><span class="js-current-time">1:45</span><span class="js-full-time">6:45</span></div>
//                          </div>
//                     </div>
//                     <div class="c-controls__slider-">
//                          <div class="c-slider">
//                              <input class="c-slider__bar" type="range" name="volume" min="0" max="1" step="0.05" value="1">
//                              <div class="c-slider__info t-caption"><span>Volume</span></div>
//                          </div>
//                     </div>
//                 </div>
//             </div>
//         </div>
//     </div>
//     <div class="c-video-module__content-wrapper">
//         <div class="l-inner">
//             <div class="c-video-module__content">
//                 <div class="c-video-teaser">
//                     <h4 class="c-video-teaser__heading t-headline-4 t-bold">
//                         Data privacy
//                     </h4>
//                     <h2 class="c-video-teaser__text t-headline-2">
//                         You trust us with <br>your data. It’s our responsibility to be transparent about the data that we collect
//                     </h2>
//                 </div>
//                 <a class="c-play js-play" href="#">
//                     <div class="c-play__button">
//                         <span class="o-icon-wrapper">
//                             <svg class="o-icon o-icon--triangle-large">
//                                 <use xmlns:xlink="http://www.w3.org/1999/xlink"
//                                     xlink:href="./static/svg/symbol/svg/sprite.symbol.svg#icon-triangle-large">
//                                 </use>
//                             </svg>
//                         </span>
//                     </div>
//                     <div class="c-play__text t-button">
//                         <p>Watch the video</p>
//                         <p class="t-regular">Transparency with data<span>2.25</span></p>
//                     </div>
//                 </a>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 10.10

.c-video-module {
    position: relative;
}

.c-video-module__content {
    max-width: $size-video-width-mobile;
}

.c-video-module__content-wrapper {
    position: relative;

    padding-top: $size-gutter * 2;
    padding-bottom: $size-gutter * 7;
}

.c-video-module.is-playing .c-video {
    background-image: unset !important;
    background-color: color(accent);
}

.c-video-module.is-playing .c-play {
    display: none;
}

.c-video-module--lg .c-video {
    padding-top: 55.9%;
}

@include media(tablet) {
    .c-video-module__desc--alt {
        font-size: font-size(size38);
    }

    .c-video-module__content-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding-top: $size-gutter * 5;
        padding-bottom: 0;
    }

    .c-video-module__content {
        max-width: $size-video-width-tablet;
    }

    .c-video-module.is-playing .c-video-module__content-wrapper {
        display: none;
    }

    .c-video-module--sm .c-video-module__content-wrapper {
        padding-top: $size-gutter;
        padding-bottom: $size-gutter;
    }

    .c-video-module--sm .c-video {
        padding-top: unset;

        height: $size-video-width-sm;
    }
}

@include media(tablet, tablet_lg) {
    .c-video-module__content-wrapper {
        padding-top: $size-alt * 3;
    }

    .c-video-module--lg .c-video-module__content-wrapper {
        padding-top: $size-gutter * 5;
    }
}

@include media(desktop) {
    .c-video-module__content-wrapper {
        padding-top: $size-gutter * 10;
        padding-bottom: 0;
    }

    .c-video-module__content {
        max-width: $size-video-width-desktop;

        br {
            display: none;
        }
    }
}
