{% load static wagtailuserbar footer_tag menu_tag cookie_tag cookie_ga_id_tag %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">


        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={% cookie_ga_id %}"></script>
        <script>
            window.GAID = '{% cookie_ga_id %}';
        </script>
    </head>

    <body class="{% block body_class %}{% endblock %} has-subnav">
        {% wagtailuserbar %}

        {% menu_elements %}
        {% cookie_elements %}

        <main class="l-main js-scroll-to">
            {% block content %}
                <div>content</div>
            {% endblock %}
        </main>

        {% footer_elements %}

        <div id="search-modal" class="c-modal c-modal--search">
            <div class="c-modal__content">
                <div class="c-modal__head">
                    <figure class="c-logo">
                        <img class="c-logo__image" src="{% static 'img/logo-yougov.png' %}" alt="YouGov" />
                    </figure>
                    <a href="#" class="c-modal__close js-close-modal-trigger">
                        <span class="o-icon-wrapper">
                            <svg class="o-icon o-icon--cross">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                    xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-cross' %}">
                                </use>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="c-modal__body">
                    <form action="/search/" class="f-search-form">
                        <div class="f-field f-field--search">
                            <input type="text" class="f-field__control" placeholder="Search" name="query"/>
                                <span class="o-icon-wrapper">
                                    <svg class="o-icon o-icon--search">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-search' %}">
                                        </use>
                                    </svg>
                                </span>
                            <button type="submit" class="f-field__btn f-field__btn--hidden">
                                <span class="o-icon-wrapper">
                                    <svg class="o-icon o-icon--search">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-search' %}">
                                        </use>
                                    </svg>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
