/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes zeroToFullWidth {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes SlideIn {
    0% {
        transform: translate3d(-100%, 0, 0);

        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

@keyframes bounceTopBottom {
    1% {
        top: 0;
    }
    100% {
        top: -15px;
    }
}

@keyframes SlideDown {
    0% {
        transform: translate3d(0, 10px, 0);

        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);

        opacity: 1;
    }
}

@keyframes Loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
