/* ==========================================================================
   Contact
   ========================================================================== */

// Contact layout
//
// markup:
// <div class="l-inner">
//     <div class="l-contact">
//         <div class="l-contact__row">
//             <div class="c-info c-wysiwyg">
//                 <h4>
//                     <strong>Email</strong>
//                 </h4>
//                 <h5>
//                     UK Panel member queries
//                 </h5>
//                 <h5>
//                     Press enquiries
//                 </h5>
//                 <p>
//                     press@yougov.com
//                 </p>
//                 <h5>
//                     Sales and general info
//                 </h5>
//                 <p>
//                     info@yougov.com
//                 </p>
//             </div>
//         </div>
//         <div class="l-contact__row l-contact__row--alt">
//             <div class="c-info c-info--alt c-wysiwyg">
//                 <h4>
//                     <strong>Addresses</strong>
//                 </h4>
//                 <h6>
//                     London
//                 </h6>
//                 <p>
//                     50 Featherstone Street
//                     <br>
//                     London
//                     <br>
//                     EC1Y 8RT
//                     <br>
//                     United Kingdom
//                     <br>
//                     <br>
//                     Registered in England and Wales.
//                     <br>
//                     Registered company no: 3607311.
//                     <br>
//                     Main country of operation: United Kingdom
//                     <br>
//                     <br>
//                     Tel: <a href="tel:44-20-7012-6000" target="_blank">+44 (0)20 7012 6000</a>*
//                     <br>
//                     Email: <a href="mailto:name.surname@address.co">name.surname@address.co</a>
//                     <br>
//                     Web: <a href="www.address.co">www.address.co</a>
//                 </p>
//                 <h6>
//                     Manchester
//                 </h6>
//                 <p>
//                     WeWork - 02-114
//                     <br>
//                     No. 1 Spinningfields
//                     <br>
//                     Quay Street
//                     <br>
//                     Manchester
//                     <br>
//                     M3 3EB
//                     <br>
//                     <br>
//                     <br>
//                     To contact the Press Office, please email us directly through press@yougov.com.
//                     <br>
//                     <br>
//                     * Calls to the UK Sales team may be recorded for training purposes.
//                 </p>
//                 <h4>
//                     <strong>Panel members</strong>
//                 </h4>
//                 <h5>
//                     Please contact us directly through <a href="https://yougov.zendesk.com/hc/en-us/requests/new">https://yougov.zendesk.com/hc/en-us/requests/new</a>
//                 </h5>
//                 <h4>
//                     <strong>Reporting security issues</strong>
//                 </h4>
//                 <h5>
//                     If you are a YouGov panel member and have a security issue to report regarding your YouGov account, please contact us through <a href="https://yougov.zendesk.com/hc/en-us/requests/new">https://yougov.zendesk.com/hc/en-us/requests/new</a>
//                     <br>
//                     <br>
//                     This includes password problems, login issues, suspected fraud and account abuse issues. If you believe you have discovered a vulnerability in a YouGov website or product, please email <a href="security@yougov.com">security@yougov.com</a>.
//                 </h5>
//             </div>
//         </div>
//     </div>
// </div>
//
// Styleguide 2.12

.l-contact {
    margin-top: ($size-gutter * 7.5);
    margin-bottom: ($size-gutter * 7.5);
}

.l-contact__row--alt {
    padding-top: $size-gutter * 3;
}

@include media(tablet) {
    .l-contact {
        display: flex;
        margin-bottom: ($size-gutter * 10);
    }

    .l-contact__row {
        width: 50%;
    }
    .l-contact__row--alt {
        padding-top: 0;
    }
}

@include media(desktop) {
    .l-contact {
        margin-bottom: ($size-gutter * 22);
    }

    .l-contact__row {
        width: 43%;
    }

    .l-contact__row--alt {
        width: 57%;
    }
}
