/* ==========================================================================
   Cookie
   ========================================================================== */

.l-cookies {
    position: fixed;

    transition: $transition-default;
    transform: translateY(100%);

    opacity: 0;

    bottom: 0;
    left: 0;
    right: 0;

    background-color: color(ecru-opacity);

    z-index: $z-index-cookies;
}

.l-cookies.is-visible {
    transform: translateY(0%);

    opacity: 1;
}

.section-markup-wrapper .l-cookies {
    transform: translateY(0%);
    opacity: 1;

    position: static;
}
