/* ==========================================================================
   Navigation
   ========================================================================== */

.l-nav__main {
    width: 100%;
}

.l-nav__main .c-nav {
    width: 100%;
}

.l-nav__main .l-search {
    width: 100%;
}

.l-nav__sub {
    width: 100%;
}

@include media(0, desktop) {
    .l-nav {
        display: flex;
        width: 200%;
        transition: 250ms ease-in-out;
    }

    .is-sub-nav-opened .l-nav {
        transform: translateX(-50%);
    }

    .l-nav__main .c-nav {
        width: 100%;
        padding: 0;
    }
}

@include media(desktop) {
    .l-nav {
        width: 100%;
    }

    .l-nav__sub {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        overflow: hidden;

        max-height: 0;

        transition: 250ms ease-in-out;
        transform: translateY(-10px);

        opacity: 0;
        background-color: color(plum2);
    }

    .is-sub-nav-opened .l-nav__sub {
        height: 230px;
        max-height: 230px;

        transform: translateY(0);

        opacity: 1;
        box-shadow: 0 9px 12px rgba(0, 0, 0, 0.2);
    }

    .is-not-sticky-header.is-sub-nav-opened .l-nav__sub {
        max-height: 0;
        box-shadow: none;
    }

    .l-nav__main {
        display: flex;
    }

    .l-nav__main .c-nav {
        width: calc(100% - #{$size-header-logo-width});
        padding: 0 $size-gutter * 2;
    }

    .l-nav__main .l-search {
        width: $size-header-logo-width;
    }
}
