{% load static %}
<div class="c-accordion js-accordion {% if expand == 'collapse' %}default{% else %}is-opened{% endif %}">
     <button class="c-accordion__toggler js-toggle-accordion">
         <div class="c-accordion__heading">
             <h4 class="c-accordion__title t-headline-4 t-bold">{{ title }}</h4>
             {% if subtitle %}
              <h4 class="c-accordion__subtitle t-headline-4 t-bold">{{ subtitle }}</h4>
             {% else %}
             {% endif %}
         </div>
         <div class="c-accordion__icon">
             <div class="o-icon-wrapper">
                 <svg class="o-icon o-icon--arrow-simple">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg' %}#icon-arrow-right"></use>
                 </svg>
             </div>
         </div>
     </button>
     <div class="c-accordion__content-wrapper">
         <div class="c-accordion__content">
             <div class="c-info c-wysiwyg">
                 {{ content}}
              </div>
         </div>
     </div>
</div>
