{% load static %}
<div class="l-inner">
    <div class="l-advisor">
        <ul class="c-advisor-list">
            {% for advisor in self.advisors %}
                 <li class="c-advisor-list__item">
                    <div class="c-advisor c-advisor{% if forloop.counter|divisibleby:2 %}--alt{% else %}{% endif %}">
                        <h4 class="c-advisor__heading">
                            {{advisor.title}}
                        </h4>
                        <p class="c-advisor__company ">
                            {{advisor.company_name}}
                        </p>
                        <address class="c-advisor__address">
                            <p>{{advisor.address_field_1}}</p>
                            <p>{{advisor.address_field_2}}</p>
                            <p>{{advisor.address_field_3}}</p>
                        </address>
                        <div class="c-advisor__action">
                            <a href="{{advisor.hyperlink}}" class="c-underline-link">
                                Find out more
                                <span class="c-underline-link__icon o-icon-wrapper">
                                    <svg class="o-icon o-icon--arrow-right">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-arrow-right' %}"></use>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                 </li>
            {% endfor %}
        </ul>
    </div>
</div>