{% load static %}
<div class="l-section">
    <div class="l-inner">
        <div class="c-downloads-wrapper">
            <div class="c-downloads-table">
                <div class="c-downloads-table__heading c-downloads-table__heading--alt">
                    <div class="c-heading c-heading--alt">
                        <h6 class="c-heading__date">
                            Date
                        </h6>
                        {% if self.title %}
                            <h6 class="c-heading__news">
                                 {{ self.title }}
                            </h6>
                        {% endif %}
                    </div>
                </div>
                {% for news in self.news|dictsortreversed:"date" %}
                    <div class="c-downloads-table__content">
                        <div class="c-downloads">
                            <div class="c-downloads__post-wrapper">
                                <time datetime="{{ news.date|date:'Y-m-d' }}" class="c-downloads__date">
                                    {{ news.date|date:"d M Y" }}
                                </time>
                                <h5 class="c-downloads__title">
                                    {{ news.file_name }}
                                </h5>
                            </div>
                            <div class="c-downloads__info-wrapper">
                                {% for source in news.source_type %}
                                    {% if source.value.hyper_link_url or source.value.page_link %}
                                        <a href="{{ source.value.hyper_link_url }}{{ source.value.page_link.url }}" target="{{ source.value.link_tab_chooser }}" class="c-underline-link c-underline-link--inline c-underline-link--left">
                                            <span class="c-underline-link__icon o-icon-wrapper">
                                                <svg class="o-icon o-icon--triangle">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-triangle' %}"></use>
                                                </svg>
                                            </span>
                                    {% else %}
                                        <a href="{% if source.value.audio_video %}{{source.value.audio_video.url}}{% else %}{{source.value.document.url}}{% endif %}"  class="c-underline-link c-underline-link--inline c-underline-link--left" download>
                                            <span class="c-underline-link__icon o-icon-wrapper">
                                                <svg class="o-icon o-icon--download">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-download' %}"></use>
                                                </svg>
                                            </span>
                                    {% endif %}
                                            <span class="c-underline-link__text-wrapper">
                                                <span class="c-underline-link__text">
                                                    {{ source.value.source_name }}
                                                    {% if source.value.audio_video.file %} - {{ source.value.audio_video.file.size|filesizeformat }}{% endif %}
                                                    {% if source.value.document.file %} - {{ source.value.document.file.size|filesizeformat }}{% endif %}
                                                </span>
                                            </span>
                                        </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
