{% load static  days_to_add_tag url_encode_tag year_list_tag %}
<div class="l-inner">
    <div class="l-tabs">
        <div class="c-tabs js-tabs-container">
            <div class="c-tabs__nav">
                <button class="c-tabs__placeholder c-underline-link js-tabs-open-trigger">
                    <span class="js-tabs-placeholder">
                        All
                    </span>
                    <span class="c-tabs__placeholder-icon o-icon-wrapper">
                        <svg class="o-icon o-icon--arrow-right-bold">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-arrow-right-bold' %}"></use>
                        </svg>
                    </span>
                </button>
                <ul class="c-tabs__nav-list js-tabs-nav">
                    <li class="c-tabs__nav-item js-clear-filter is-active">
                        <button class="c-tabs__cta c-underline-link">
                            All
                        </button>
                    </li>
                    {% for event_date in self.events|dictsortreversed:"date"|year_list %}
                        <li class="c-tabs__nav-item" data-tab="{{ event_date }}">
                            <button class="c-tabs__cta c-underline-link">
                                {{ event_date }}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="c-tabs__content js-tabs-content">
                <div class="c-tabs__heading">
                    <div class="c-event-heading">
                        <p class="c-event-heading__text">
                            Date
                            <span class="c-event-heading__separator">/</span>
                        </p>
                        <p class="c-event-heading__text">
                            Event
                        </p>
                    </div>
                </div>
                <ul class="c-tabs__content-list">
                    {% for event in self.events|dictsortreversed:"date" %}
                        {% if event.date.year in self.events|dictsortreversed:"date"|year_list %}
                            <li class="c-tabs__content-item" data-tab="{{ event.date|date:'Y' }}">
                        {% else %}
                            <li class="c-tabs__content-item" data-tab="Archive">
                        {% endif %}
                            <div class="c-event-box">
                                <div class="c-event-box__head">
                                    <time datetime="{{ event.date|date:'d/m/Y' }}" class="c-event-box__date">
                                        {{ event.date|date:"d M Y" }}
                                    </time>
                                    <h5 class="c-event-box__title">
                                        {{event.name}}{% if event.to_be_confirmed == '1' %}*{% endif %}
                                    </h5>
                                </div>
                                <div class="c-event-box__dropdown">
                                    <div class="c-custom-dropdown js-custom-dropdown-wrapper">
                                        <button class="c-custom-dropdown__trigger js-custom-dropdown-trigger c-icon-btn">
                                            <span class="c-icon-btn__icon o-icon-wrapper">
                                                <svg class="o-icon o-icon--calendar">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-calendar' %}"></use>
                                                </svg>
                                            </span>
                                            Add to calendar
                                        </button>
                                        <div class="c-custom-dropdown__content">
                                            <ul class="c-custom-dropdown__list">
                                                <li class="c-custom-dropdown__list-item">
                                                    {% with event_date=event.date|days_to_add %}
                                                    <a href="http://www.google.com/calendar/render?action=TEMPLATE&text={{event.name}}&dates={{ event.date|date:'Ymd' }}/{{ event_date|date:'Ymd' }}"
                                                        target="_blank" rel="nofollow" class="c-custom-dropdown__link">Google Calendar</a>
                                                    {% endwith %}
                                                </li>
                                                <li class="c-custom-dropdown__list-item">
                                                    <a href="/calendar-add/ical/{{ event.name|url_encode }}/{{ event.date|date:'Ymd' }}" target="_blank" class="c-custom-dropdown__link" download>
                                                        Apple Mail
                                                    </a>
                                                </li>
                                                <li class="c-custom-dropdown__list-item">
                                                    <a href="/calendar-add/ical/{{ event.name|url_encode }}/{{ event.date|date:'Ymd' }}" target="_blank" class="c-custom-dropdown__link" download>
                                                        Outlook
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <p class="c-tabs__legend">
                    * to be confirmed
                </p>
            </div>
        </div>
    </div>
</div>
