{% load wagtailcore_tags wagtailimages_tags %}

{% image self.image fill-1500x400 as img %}
<h1 style="color: {{self.header_color}}">{{ self.header }}</h1>
<p style="color: {{self.sub_copy_color}}"> {{ self.sub_copy }}</p>
<!--<div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: contain; color: #fff !important">-->
<!--    <h1 class="display-4">TEST</h1>-->
<!--    <div class="lead">TEST</div>-->
<!--</div>-->
<a href="{{self.link_url}}" target="{{self.link_tab_chooser}}"><img src="{{img.url}}"></a>