{% load static wagtailcore_tags wagtailimages_tags %}
{% for link in link_or_doc %}
<a href="{% if link.block_type == 'link_external_url' %}{{ link }}{% else %}{{ link.value.url }}{% endif %}" class="c-widget-module" target="{{ link_tab_chooser }}" style="background-color: {{ background_colour }};">
{% endfor %}
    <div class="c-widget-module__main">
        <h4 class="c-widget-module__title">
            {{ title }}
        </h4>
        <p class="c-widget-module__desc">
            {{ content }}
        </p>
        <div class="c-widget-module__action">
            <span class="c-underline-link">
                {{ link_text }}
                <span class="c-underline-link__icon o-icon-wrapper">
                    <svg class="o-icon o-icon--arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg#icon-arrow-right' %}"></use>
                    </svg>
                </span>
            </span>
        </div>
    </div>
    {% if image %}
        {% image image original as img %}
        <div class="c-widget-module__media" style="background-image: url({{img.url}})"></div>
    {% endif %}
</a>
