{% load static wagtailcore_tags wagtailimages_tags %}
<div class="l-inner {% if self.logo_style == 'RTE' %}l-inner--small{% endif %}">
    <div class="c-logos-bar js-scroll-reveal">
        <ul class="c-list c-list--horizontal-wrap c-list--horizontal-{% if self.logos|length > 1 %}centered{% elif self.logos|length == 1 %}single{% endif %}">
            {% for logo in self.logos %}
            <li class="c-list__item">
                {% image logo.logo_image original as img %}
                {% for link in logo.logo_link %}
                    <a href="{% if link.block_type == 'link_external_url' %}{{ link.value }}{% else %}{{ link.value.url }}{% endif %}" class="c-logos-bar__link" target="{{ logo.link_tab_chooser }}">
                {% endfor %}
                    <figure class="c-logos-bar__media">
                        <img src="{{ img.url }}" alt="{{ logo.logo_alt_text }}" class="c-logos-bar__img" />
                    </figure>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
