{% load static %}
<div class="l-quote">
    <div class="c-quote" style="color: #00B7B4;{% if self.optional_padding_above %}padding-top: 76px;{% endif %}">
        {% if self.quote_author %}
            <h4 class="c-quote__author t-headline-4 t-bold">
            {{ quote_author }}
            </h4>
        {% endif %}
        {% if self.author_title %}
            <h5 class="c-quote__position t-headline-5">
            {{ author_title }}
            </h5>
        {% endif %}
        <h2 class="c-quote__quotation t-headline-2">
        {{ quote_text }}
        </h2>
        {% if link_text %}
        {% for block in self.link_url %}
            <div class="c-quote__action">
                <a href="{% if block.block_type == 'link_external_url' %}{{ block.value }}{% else %}{{ block.value.url }}{% endif %}" class="c-underline-link" target="{{ link_tab_chooser }}">
                {{ self.link_text }}
                    <span class="c-underline-link__icon o-icon-wrapper">
                        <svg class="o-icon o-icon--arrow-right">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg' %}#icon-arrow-right"></use>
                        </svg>
                    </span>
                </a>
            </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
