{% load static %}
<div class="c-newsfeed" {% if self.background_colour %}style="background-color: {{ self.background_colour }};"{% endif %}>
    <h4 class="c-newsfeed__heading">
        {{ self.headline }}
    </h4>
    <div class="c-newsfeed__content">
        <ul class="c-list">
            {% for element in rows %}
                <li class="c-list__item">
                   {% include 'streams/rss_base_block.html' with title=element.title research_link=element.id summary=element.summary  %}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="c-newsfeed__btn-wrapper">
        {% for link in self.link_feed %}
            <a href="{% if link.block_type == 'link_external_url' %}{{ link.value }}{% else %}{{ link.value.url }}{% endif %}" class="c-underline-link" target="{{ self.link_tab_chooser }}">
                {{ self.link_text }}
                <span class="c-underline-link__icon o-icon-wrapper">
                    <svg class="o-icon o-icon--arrow-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'svg/symbol/svg/sprite.symbol.svg' %}#icon-arrow-right"></use>
                    </svg>
                </span>
            </a>
        {% endfor %}
        {% if not self.link_feed %}
            {{ self.link_text }}
        {% endif %}
    </div>
</div>
