{% load table_counter_tag %}
<div class="l-inner">
    <div class="l-advisor">
        <div class="c-table">
            <div class="c-table__head">
                <div class="c-table__row">
                    {% for header_row in self.table.data.0 %}
                    <div class="c-table__col">
                        <h6 class="t-subtitle-1">{{header_row}}</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="c-table__body">
                {% for data in self.table.data|slice:"1:" %}
                        <div class="c-table__row">
                            {% for data_elem in data %}
                            <div class="c-table__col">
                                <dl class="c-data-box">
                                    {% with loop=forloop.counter0 %}
                                    <dt class="c-data-box__title t-subtitle-1">{{self.table.data.0|table_counter_tag:loop}}</dt>
                                    <dd class="c-data-box__desc t-headline-5">{{data_elem}}</dd>
                                    {% endwith %}
                                </dl>
                            </div>
                            {% endfor %}
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
