<div class="c-widget__col">
    {% include 'streams/link_container_base_block.html' with background_colour=self.left.background_colour title=self.left.title content=self.left.content link_text=self.left.link_text link_or_doc=self.left.link_or_doc link_tab_chooser=self.left.link_tab_chooser doc_open_or_download=self.left.if_document_pdf%}
</div>
<div class="c-widget__col">
    {% include 'streams/link_container_base_block.html' with background_colour=self.right.background_colour title=self.right.title content=self.right.content link_text=self.right.link_text link_or_doc=self.right.link_or_doc link_tab_chooser=self.right.link_tab_chooser doc_open_or_download=self.right.if_document_pdf%}
</div>
