{% load static %}
<div class="l-inner">
    <div class="l-decor-wrapper {{ self.type }}">
        <div class="l-two-cols l-two-cols--grid">
            {% if self.social_links %}
                <div class="l-two-cols__box l-two-cols__box--socials">
                    <ul class="c-social-media c-social-media--horizontal c-social-media--start">
                        {% for link in self.social_links %}
                        <li class="c-social-media__list">
                            <a href="{{ link.social_channel_url }}" class="c-icon-with-decor c-icon-with-decor--light" target="_blank" rel="noopener noreferrer">
                                <span class="o-icon-wrapper">
                                    <svg class="o-icon o-icon--twitter">
                                         {% with 'svg/symbol/svg/sprite.symbol.svg#icon-'|add:link.social_channel_logo as logo_static %}
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static logo_static %}"></use>
                                        {% endwith %}
                                    </svg>
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="l-two-cols__box {{ self.left_widget_decor }}">
                {{ self.left_widget }}
            </div>
            <div class="l-two-cols__box {{ self.right_widget_decor }}">
                {{ self.right_widget }}
            </div>
        </div>
    </div>
</div>
