<div class="c-widget__col">
    {% include 'streams/link_container_base_block.html' with background_colour=self.left.background_colour title=self.left.title content=self.left.content link_text=self.link_text link_page=self.left.link_page link_tab_chooser=self.left.link_tab_chooser %}
</div>
<div class="c-widget__col">
    {% include 'streams/link_container_base_block.html' with background_colour=self.right.background_colour title=self.right.title content=self.right.content link_text=self.link_text link_page=self.right.link_page link_tab_chooser=self.right.link_tab_chooser %}
</div>
