{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% for block in page.content %}
        {% include_block block %}
    {% endfor %}

    {% if self.is_timestamp_displayed %}
        <div class="l-real-text">
            <div class="l-inner ">
                <div class="c-wysiwyg" style="color:#000000;">
                    <div class="rich-text">
                        <p>This information was last updated  {{ self.last_published_at|date:"d F Y" }}</p>
                    </div>
                 </div>
            </div>
        </div>
    {% endif %}

{% endblock %}